body {
    background: black;
    color: lightgray;
    padding: 0px;
    margin: 0px;
}

div#player {
    width: 80vw;
    height: 60vh;
    background: black;
    margin: 20vh auto 0px auto;
    display: block;
}

input {
    padding: 10px 10px 10px 0px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}